.causes {
    background-image: $bg-color-secondary;
    color: $font-cr-tertiary;
    padding-top: 67px;
}

.causes__ttl {
    color: currentColor;
    text-transform: uppercase;
    margin-bottom: 31px;
}

.causes-holder {
    position: relative;
    z-index: 0;
    @include media('>=desktop') {
        padding-top: 120px;
    }
}

.causes__slogan {
    @include xycenter;
    z-index: -1;
    color: rgba($cr-brand-secondary, .2);
    font-size: 250px;
    font-weight: 900;
}

.causes-block {
    @include media('>=desktop') {
        max-width: 244px;
        position: absolute;
    }
    &--1 {
        @include media('>=desktop') {
            left: 20px;
            top: 0;
        }
    }
    &--2 {
        @include media('>=desktop') {
            right: 20px;
            top: 0;
        }
    }
    &--3 {
        @include media('>=desktop') {
            right: 0;
            bottom: 0;
        }
    }
    &--4 {
        @include media('>=desktop') {
            left: 0;
            top: 162px;
        }
    }
    &--5 {
        @include media('>=desktop') {
            left: 20px;
            bottom: 0;
        }
    }
    &--6 {
        @include media('>=desktop') {
            right: 0;
            top: 162px;
        }
    }
}

.causes-block__icon {
    font-size: 72px;
    color: $cr-brand-secondary;
    margin-bottom: 14px;
}

.causes__slogan-footer {
    display: block;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}


.problems-circle {
    padding-bottom: 50px;
    @include media('>=desktop') {
        padding-bottom: 109px;
    }
}

.problems-circle__img {
    margin-bottom: 17px;
    position: relative;
    z-index: 0;
    @include media('>=desktop') {
        margin-bottom: 48px;
    }
}

.problems-circle__slogan {
    @include xycenter;
    text-transform: uppercase;
    color: rgba($cr-brand-secondary, .26);
    font-size: 15.278vw;
    font-weight: 900;
    z-index: -1;
    @include media('>=largescreen') {
        font-size: 220px;
    }
}

.problems-circle__factor {
    font-size: 4.267vw;
    font-weight: 700;
    position: absolute;
    max-width: 260px;
    &--1 {
        @include xcenter;
        top: 100px;
        margin-left: 30px;
    }
    &--2 {
        @include ycenter;
        left: 0;
        margin-top: 150px;
    }
    &--3 {
        right: 0;
        bottom: 1vw;
        @include media('>=tablet') {
            bottom: 180px;
        }
    }
    @include media('>=tablet') {
        font-size: 26px;
    }
}

.problems__slogan {
    color: $cr-brand-secondary;
    font-size: 26px;
    font-weight: 700;
}