.counter--bg {
    .countdown-holder {
        background: url(../img/arrows.png) no-repeat 50% 50%;
        background-size: auto 100%;
    }
}

.counter__ttl {
    display: block;
    font-size: 30px;
    font-weight: 900;
    color: $cr-gray;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include media('<tablet') {
        text-align: center;
        margin-bottom: 80px;
    }
    @include media('>=desktop') {
        font-size: 40px;
        margin-bottom: 18px;
    }
    @include media('>=widescreen') {
        font-size: 60px;
    }
}

.counter__sale-percent {
    @extend %txt-gradient;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    color: rgba($cr-brand-secondary, .5);
    font-size: 23vw;
    line-height: .85;
    font-weight: 900;
    @include media('>=largescreen') {
        font-size: 350px;
    }
}

.countdown-holder {
    position: relative;
    min-height: 220px;
    z-index: 0;
    @include media('>=widescreen') {
        min-height: 304px;
    }
}

.countdown {
    @include xycenter;
    width: auto;
    display: flex;
    margin: 0;
}
