.customer-stories {
    @extend .reviews-gallery;
    &:before,
    &:after {
        display: none;
    }
    .slick-prev {
        transform: translate(0, -50%) scale(1) rotate(45deg);
        &:hover {
            transform: translateY(0, -50%) scale(1.1) rotate(45deg);
        }
    }
    .slick-next {
        transform: translate(0, -50%) scale(-1) rotate(45deg);
        &:hover {
            transform: translate(0, -50%) scale(-1.1) rotate(45deg);
        }
    }
}

.customer-stories__author-row {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    @include media('<phone') {
        flex-direction: column;
    }
    @include media('>=phone') {
        flex-wrap: wrap;
    }
}

.customer-stories__ava {
    @include media('<phone') {
        margin-bottom: 30px;
    }
    @include media('>=phone') {
        margin-right: 30px;
    }
}

.customer-stories__author {
    position: relative;
    z-index: 0;
    color: #fff;
    display: inline-flex;
    flex-direction: column;
    padding: 10px 20px;
    @include media('>=phone') {
        margin-left: 14px;
    }
    &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        background-color: $cr-brand-secondary;
        transform: skew(-20deg);
    }
}

.customer-stories__author-name {
    font-size: 18px;
    font-weight: 700;
    @include media('>=desktop') {
        font-size: 24px;
    }
}
