.effects {
    padding-bottom: 27px;
    @include media('<tablet') {
        overflow: hidden;
    }
    @include media('>=desktop') {
        padding-bottom: 93px;
    }
}

.effects__count {
    @extend %txt-gradient;
    font-size: 300px;
    line-height: 1;
    font-weight: 900;
    color: rgba($cr-brand-secondary, .75);
    position: absolute;
    z-index: -1;
    bottom: 61px;
    @include media('>=tablet') {
        bottom: 20px;
        font-size: 280px;
    }
    @include media('<largescreen') {
        left: 9px;
    }
    @include media('>=largescreen') {
        font-size: 500px;
        bottom: -13px;
        left: 20px;
    }
}

.effects__text-ttl {
    font-size: 20px;
    padding-top: 105px;
    margin-bottom: 1em;
    color: $cr-heading;
    @include media('<tablet') {
        padding-left: $side-gutters-sm;
    }
    @include media('>=tablet') {
        padding-top: 109px;
        margin-bottom: 52px;
    }
    @include media('>=largescreen') {
        font-size: 35px;
        padding-left: 115px;
    }
}

.effects__img {
    margin: 0 -4px 24px 26px;
    @include media('>=tablet') {
        margin: -17px -95px 0 123px;
    }
}

.effects__text {
    @extend %txt-gradient;
    font-size: 21.333vw;
    line-height: 1;
    font-weight: 900;
    color: rgba($cr-brand-secondary, .5);
    position: relative;
    z-index: -1;
    text-transform: uppercase;
    text-align: center;
    @include media('>=tablet') {
        font-size: 10vw;
        text-align: right;
        position: absolute;
        right: 0;
        bottom: 20px;
    }
    @include media('>=widescreen') {
        font-size: 200px;
        bottom: 67px;
    }
}

.effects-row {
    margin-bottom: 43px;
    position: relative;
    @include media('>=tablet') {
        margin-bottom: 74px;
    }
}

.effects-block__ttl {
    text-transform: uppercase;
    margin-bottom: 8px;
    @include media('>=tablet') {
        margin-bottom: 30px;
    }
    @include media('>=desktop') {
        margin-bottom: 98px;
    }
}


.effects-pyramid {
    @include media('>=desktop') {
        margin-right: -$side-gutters-sm;
    }
}

.effects-pyramid__row {
    position: relative;
    @include media('>=desktop') {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        height: 126px;
    }
}

.effects-pyramid__ttl {
    color: $cr-gray;
    font-size: 10px;
    font-weight: 500;
    max-width: 340px;
    @include media('<desktop') {
        @include xycenter;
        z-index: 2;
        color: #fff;
        font-size: 10px;
        font-weight: 500;
        text-align: center;
    }
    @include media('>=desktop') {
        font-size: 22px;
        margin-right: 17px;
    }
    .effects-pyramid__row--1 & {
        @include media('<desktop') {
            margin-top: 17px;
        }
    }
}

.effects-pyramid__content {
    background-color: #a96a81;
    color: #fff;
    font-size: 130px;
    line-height: 1;
    font-weight: 900;
    font-style: italic;
    display: flex;
    align-items: center;
    @include media('<desktop') {
        text-indent: -9999px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    @include media('>=desktop') {
        padding-left: 47px;
    }

    @for $i from 1 through 5 {
        .effects-pyramid__row--#{$i} & {
            background-image: url(../uploads/img-piramide0#{$i}.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }
    }

    @include media('>=desktop') {
        $min: 380;
        $step: 103;

        @for $i from 1 through 5 {
            .effects-pyramid__row--#{$i} & {
                $value: ($i - 1) * $step + $min;
                width: $value + px;
                flex: 0 0 $value + px;
            }
        }
    }

    @include media('>=widescreen') {
        $min: 627;
        $step: 103;

        @for $i from 1 through 5 {
            .effects-pyramid__row--#{$i} & {
                $value: ($i - 1) * $step + $min;
                width: $value + px;
                flex: 0 0 $value + px;
            }
        }
    }

    .effects-pyramid__row--1 & {
        @include media('<desktop') {
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            width: 86px;
            height: 72px;
        }
        @include media('>=desktop') {
            padding-left: 37px;
        }
    }
    .effects-pyramid__row--2 & {
        @include media('<desktop') {
            clip-path: polygon(25% 0, 75% 0, 100% 100%, 0 100%);
            width: 172px;
            height: 71px;
        }
    }
    .effects-pyramid__row--3 & {
        @include media('<desktop') {
            clip-path: polygon(18% 0, 82% 0, 100% 100%, 0 100%);
            width: 263px;
            height: 79px;
        }
    }
    .effects-pyramid__row--4 & {
        @include media('<desktop') {
            clip-path: polygon(16.5% 0, 83.5% 0, 100% 100%, 0 100%);
            width: 394px;
            height: 105px;
        }
    }
    .effects-pyramid__row--5 & {
        @include media('<desktop') {
            clip-path: polygon(11% 0, 88.5% 0, 100% 100%, 0 100%);
            width: 508px;
            height: 83px;
        }
        @include media('>=desktop') {
            padding-left: 55px;
        }
    }
}
