.participation {
    color: $font-cr-tertiary;
    background:
            url(../img/bg-format.jpg) no-repeat 50% 0,
            $bg-color-secondary
;
    padding-top: 51px;
    @include media('>=desktop') {
        padding-top: 71px;
        padding-bottom: 100px;
    }
}

.participation__ttl {
    margin-bottom: 24px;
    color: currentColor;
}

.participation__time {
    text-transform: uppercase;
    color: $cr-brand-secondary;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 22px;
    @include media('>=desktop') {
        margin-bottom: 61px;
    }
}

.participation__content {
    position: relative;
    padding-bottom: 40px;
    @include media('<desktop') {
        padding-left: $side-gutters-sm;
        padding-right: $side-gutters-sm;
    }
    @include media('>=desktop') {
        padding-bottom: 87px;
        padding-top: 60px;
    }
}

.participation__content-img {
    margin: 0 auto;
    display: block;
    @include media('>=widescreen') {
        transform: translateX(-80px);
    }
}

.participation-block {
    @include media('>=phone', '<desktop') {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    @include media('<desktop') {
        margin-bottom: 20px;
        padding-left: $side-gutters-sm * 2;
        padding-right: $side-gutters-sm * 2;
    }
    @include media('>=desktop') {
        padding-left: 71px;
        position: absolute;
        max-width: 300px;
    }
    @include media('>=widescreen') {
        max-width: 370px;
    }
    &--1 {
        @include media('>=desktop') {
            left: 13.71%;
            top: 0;
        }
    }
    &--2 {
        @include media('>=desktop') {
            left: 1.452%;
            top: 175px;
        }
    }
    &--3 {
        @include media('>=desktop') {
            left: 2.3%;
            bottom: 211px;
        }
    }
    &--4 {
        @include media('>=desktop') {
            right: 3%;
            top: 0;
        }
        @include media('>=widescreen') {
            right: 22%;
        }
    }
    &--5 {
        @include media('>=desktop') {
            left: 16.37%;
            bottom: 0;
        }
    }
    &--6 {
        @include media('>=desktop') {
            right: 20.16%;
            bottom: 0;
        }
    }
    &--7 {
        @include media('>=desktop') {
            bottom: 192px;
            right: 0;
        }
        @include media('>=widescreen') {
            right: 5.6%;
        }
    }
    &--8 {
        @include media('>=desktop') {
            top: 175px;
            right: 0;
        }
        @include media('>=widescreen') {
            right: 5.63%;
        }
    }

    .icon {
        color: $cr-brand-secondary;
        font-size: 86px;
        @include media('<desktop') {
            margin: 0 auto 43px;
            display: block;
        }
        @include media('>=desktop') {
            font-size: 56px;
            position: absolute;
            top: 16px;
            left: 0;
        }
    }
    .icon-members {
        font-size: 48px;
    }
    .icon-curator {
        font-size: 50px;
    }
    .icon-support {
        font-size: 53px;
    }
}

.participation-block__ttl {
    color: $cr-brand-secondary;
    font-size: 22px;
    font-weight: 700;
}
