.team {
    position: relative;
    padding-top: 84px;
    padding-bottom: 70px;
    @include media('>=desktop') {
        padding-top: 92px;
        padding-bottom: 93px;
    }
    .slick-arrow {
        @include anim;
        @include ycenter;
        width: 34px;
        height: 34px;
        background-color: transparent;
        padding: 0;
        border: solid $cr-brand-secondary;
        border-width: 0 0 7px 7px;
        text-indent: -9999px;
        overflow: hidden;
        z-index: 99;
        outline: none;
        margin-top: -80px;

    }
    .slick-prev {
        left: 0;
        transform: translate(0, -50%) scale(1) rotate(45deg);
        &:hover {
            transform: translateY(0, -50%) scale(1.1) rotate(45deg);
        }
        @include media('<desktop') {
            left: $side-gutters-sm;
        }
    }
    .slick-next {
        right: 0;
        transform: translate(0, -50%) scale(-1) rotate(45deg);
        &:hover {
            transform: translate(0, -50%) scale(-1.1) rotate(45deg);
        }
        @include media('<desktop') {
            right: $side-gutters-sm;
        }
    }

    .slick-slide {
        outline: none;
    }

    img {
        display: inline;
    }

    .slick-dots {
        @extend %listreset;
        @include xcenter;
        bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 0 3px;
            line-height: 0;
        }

        button {
            padding: 0;
            border: 0;
            background-color: $cr-info;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            text-indent: -9999px;
            overflow: hidden;
        }
    }
}

.team__ttl {
    margin-bottom: 61px;
    @include media('>=desktop') {
        margin-bottom: 48px;
    }
}

.team-gallery {
    &:not(.slick-initialized) {
        display: flex;
    }
    @include media('>=desktop') {
        padding-left: 27px;
        padding-right: 27px;
    }
}

.team__block {
    margin-left: auto;
    margin-right: auto;
    max-width: 256px;
    @include media('<phablet') {
        max-width: 286px;
    }
    @include media('<desktop') {
        padding-left: $side-gutters-sm;
        padding-right: $side-gutters-sm;
    }
}

.team__img {
    margin-bottom: 50px;
}

.team__name {
    display: block;
    color: $cr-brand-secondary;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 22px;
    padding-left: 17px;
    padding-right: 17px;
}

.team__position {
    display: block;
    color: $cr-gray;
    font-size: 20px;
    padding-right: 17px;
    padding-left: 17px;
}
