.guarantee {
    padding-top: 59px;
    background-image: $bg-color-secondary;
    color: #fff;
    @include media('>=desktop') {
        padding-top: 71px;
        padding-bottom: 54px;
    }
    .counter__ttl {
        color: currentColor;
        .txt-accent {
            color: currentColor !important;
        }
    }
}

.guarantee__ttl {
    margin-bottom: 21px;
    color: currentColor;
    @include media('>=desktop') {
        margin-bottom: 76px;
    }
}

.icon-guarantee {
    font-size: 185px;
    color: $cr-brand-secondary;
    @include media('>=tablet') {
        font-size: 250px;
    }
    @include media('>=largescreen') {
        font-size: 396px;
        margin-left: 105px;
        margin-top: -86px;
    }
}

.guarantee__txt {
    font-size: 20px;
    margin-bottom: 50px;
    @include media('<desktop') {
        max-width: 70vw;
        margin-top: 21px;
        margin-left: auto;
        margin-right: auto;
    }
    @include media('>=desktop') {
        margin-left: #{-$side-gutters-sm};
        margin-right: #{-$side-gutters-sm};
        margin-bottom: 35px;
    }
}

.guarantee__cta {
    margin-bottom: 43px;
    @include media('>=desktop') {
        margin-bottom: 69px;
    }
}
