.intro {
    background: $bg-color-secondary;
    padding-top: 43px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    @include media('>=desktop') {
        padding-top: 48px;
    }
    &:before {
        position: absolute;
        left: 0;
        top: 0;
        content: '';
        background: url(../img/bg-intro.jpg) no-repeat 0 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        @include media('<desktop') {
            background-size: cover;
        }
        @include media('>=desktop') {
            background-position: 50% 0;
        }
        @include media('>=1600px') {
            @include xycenter;
            width: 1566px;
            height: 770px;
        }
    }
}

.intro__holder {
    padding-bottom: 130px;
}

.logo-holder {
    display: flex;
    align-items: center;
    margin-bottom: 12vw;
    @include media('>=desktop') {
        margin-bottom: 107px;
    }
}

.logo {
    width: 124px;
    height: 48px;
    margin-right: 23px;
    @include media('>=desktop') {
        width: 170px;
        height: 66px;
        margin-right: 39px;
    }
}

.start-date {
    color: $font-cr-tertiary;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    @include media('>=desktop') {
        font-size: 22px;
    }
}

.intro__audience {
    color: $cr-brand-secondary;
    font-size: 14px;
    font-weight: 700;
    max-width: 310px;
    margin-bottom: 30px;
    @include media('>=desktop') {
        font-size: 18px;
    }
}

.intro__sub-slogan {
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    margin-bottom: 24px;
    @include media('>=desktop') {
        font-size: 80px;
        margin-bottom: 33px;
    }
}

.intro__img {
    display: flex;
    height: 100%;
    position: relative;
    @include media('>=desktop') {
        margin-top: -20px;
    }
}

.intro__text-bg {
    position: absolute;
    left: -66px;
    bottom: 21px;
    color: #fff;
    font-size: 300px;
    font-weight: 900;
    z-index: -1;
}

.intro__text {
    color: #fff;
    font-weight: 300;
    @include media('<desktop') {
        margin-bottom: 45px;
        font-size: 15px;
    }
    @include media('>=desktop') {
        font-size: 18px;
    }
}

.intro__cource-author {
    margin-left: 15px;
}
