.modal-content {
    .close {
        @include anim;
        opacity: 1;
        position: absolute;
        right: -1em;
        top: -2px;
        color: $cr-brand-primary;
        font-size: 32px;
        &:hover {
            color: $cr-brand-secondary;
        }
    }
}
