.packages {
    padding-top: 52px;
    padding-bottom: 48px;
    @include media('>=desktop') {
        padding-top: 93px;
        padding-bottom: 102px;
    }
    .counter__ttl {
        @include media('>=desktop') {
            margin-top: 77px;
        }
    }
    .countdown-holder {
        @include media('<tablet') {
            margin-left: -$side-gutters-sm;
            margin-right: -$side-gutters-sm;
        }
    }
}

.packages__ttl {
    margin-bottom: 45px;
    @include media('>=desktop') {
        margin-bottom: 122px;
    }
}

.package {
    box-shadow: 0 10px 50px rgba(#000, .25);
    background-color: #fff;
    padding: 46px 30px 58px;
    @include media('<desktop') {
        margin-bottom: 63px;
        margin-right: -$grid-gutter-width/2;
        margin-left: -$grid-gutter-width/2;
    }
    @include media('>=desktop') {
        border-radius: 10px;
        padding-left: 50px;
        padding-right: 40px;
        margin-bottom: 20px;
    }
    &--middle {
        @include media('>=desktop') {
            margin-top: -50px;
        }
    }

    .btn {
        min-width: 0;
        width: 100%;
        @include media('<desktop') {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.package__ttl {
    text-align: center;
    color: $cr-brand-secondary;
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 33px;
    @include media('>=desktop') {
        font-size: 26px;
    }
}

.package__options {
    @extend %listreset;
    @extend %clearfix;
    color: $cr-gray;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 11px;
    li {
        position: relative;
        padding-left: 27px;
        margin-bottom: 21px;
        @include media('>=desktop') {
            margin-bottom: 21px;
        }
        &.disabled {
            color: #c4c4c4;
            &:before {
                background: url(../img/svg-icons/burger.svg) no-repeat;
                background-size: cover;
                width: 16px;
                height: 15px;
            }
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 11px;
            background: url(../img/svg-icons/broccoli.svg) no-repeat;
            background-size: cover;
            width: 15px;
            height: 17px;
        }
    }
}

.package__price {
    color: $cr-brand-secondary;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 12px;
}

.pack__sale {
    color: rgba($cr-brand-secondary, .5);
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 41px;
    @include media('<desktop') {
        text-align: center;
    }
}
