.results {
    background-image: $diagonal-gradient;
    color: $font-cr-tertiary;
    padding-top: 57px;
    padding-bottom: 65px;
    @include media('>=desktop') {
        padding-top: 71px;
        padding-bottom: 104px;
    }
}

.results__row {
}

.results__ttl {
    color: currentColor;
    margin-bottom: 30px;
    @include media('>=desktop') {
        margin-bottom: 50px;
    }
}

.result-block {
    max-width: 267px;
    font-size: 1.25rem;
    margin-bottom: 28px;
    .icon {
        display: block;
        margin: 0 auto 17px;
        font-size: 83px;
        color: rgba(#000, .4);
    }
}