.results {
    background-image: $diagonal-gradient;
    color: $font-cr-tertiary;
    padding-top: 57px;
    padding-bottom: 65px;
    @include media('>=desktop') {
        padding-top: 69px;
        padding-bottom: 104px;
    }
}

.results__ttl {
    color: currentColor;
    margin-bottom: 30px;
    @include media('>=desktop') {
        margin-bottom: 46px;
    }
}

.results__row {
    margin-bottom: 10px;
    @include media('>=desktop') {
        margin-bottom: 57px;
    }
}

.result-block {
    font-size: 1.25rem;
    max-width: 267px;
    margin-left: auto;
    margin-right: auto;
    @include media('<tablet') {
        margin-bottom: 10px;
    }
    p {
        margin-bottom: 0;
    }
    .icon {
        display: block;
        font-size: 83px;
        color: rgba(#000, .4);
    }
    .icon-lock {
        font-size: 72px;
    }
    .icon-medicine-chest {
        font-size: 69px;
    }
    .icon-brain {
        font-size: 87px;
    }
}

.result-block__icon {
    min-height: 78px;
    margin-bottom: 49px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media('>=desktop') {
        min-height: 87px;
        margin-bottom: 21px;
    }
}
