.reviews {
    padding-top: 8px;
    padding-bottom: 106px;
    @include media('>=desktop') {
        padding-bottom: 92px;
    }
}

.reviews__ttl {
    margin-bottom: 70px;
    @include media('>=desktop') {
        margin-bottom: 83px;
    }
}

.reviews-gallery {
    position: relative;
    margin-bottom: 52px;
    @include media('>=desktop') {
        margin-bottom: 76px;
    }
    &:not(.slick-initialized) {
        display: flex;
    }
    &:before,
    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 200px;
        background: linear-gradient(to right, rgba(#fff, 1) 20%, rgba(#fff, 0) 100%);
        pointer-events: none;
        z-index: 10;
        @include media('>=desktop') {
            content: '';
        }
    }
    &:before {
        left: 0;
    }
    &:after {
        right: 0;
        transform: scale(-1);
    }
    .slick-arrow {
        @include anim;
        @include ycenter;
        width: 36px;
        height: 36px;
        background-color: transparent;
        padding: 0;
        border: solid $cr-brand-secondary;
        border-width: 0 0 7px 7px;
        text-indent: -9999px;
        overflow: hidden;
        z-index: 99;
        outline: none;
        margin-top: -54px;
        @include media('>=desktop') {
            margin-top: -13px;
        }

    }
    .slick-prev {
        left: 0;
        transform: translate(28px, -50%) scale(1) rotate(45deg);
        &:hover {
            transform: translateY(28px, -50%) scale(1.1) rotate(45deg);
        }
    }
    .slick-next {
        right: 0;
        transform: translate(-28px, -50%) scale(-1) rotate(45deg);
        &:hover {
            transform: translate(-28px, -50%) scale(-1.1) rotate(45deg);
        }
    }

    .slick-slide {
        outline: none;
    }

    img {
        display: inline;
    }

    .slick-dots {
        @extend %listreset;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;

        li {
            margin: 0 3px;
            line-height: 0;
        }

        button {
            padding: 0;
            border: 0;
            background-color: $cr-info;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            text-indent: -9999px;
            overflow: hidden;
        }
    }
}

.reviews-gallery__slide {
    text-align: center;
    @include media('>=tablet') {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.review__cta {
    color: $cr-gray;
    font-weight: 700;
    font-size: 20px;
    @include media('>=desktop') {
        font-size: 24px;
    }
}
