.reviews {
    padding-bottom: 92px;
}

.reviews__ttl {
    margin-bottom: 52px;
    @include media('>=desktop') {
        margin-bottom: 76px;
    }
}

.reviews-gallery {
    margin-bottom: 52px;
    @include media('>=desktop') {
        margin-bottom: 76px;
    }
    .slick-arrow {
        @include anim;
        @include ycenter;
        width: 36px;
        height: 36px;
        background-color: transparent;
        padding: 0;
        border: solid $cr-brand-secondary;
        border-width: 0 0 7px 7px;
        text-indent: -9999px;
        overflow: hidden;
        z-index: 99;
        outline: none;

    }
    .slick-prev {
        left: 0;
        transform: translateY(-50%) scale(1) rotate(45deg);
        &:hover {
            transform: translateY(-50%) scale(1.1) rotate(45deg);
        }
    }
    .slick-next {
        right: 0;
        transform: translateY(-50%) scale(-1) rotate(45deg);
        &:hover {
            transform: translateY(-50%) scale(-1.1) rotate(45deg);
        }
    }

    .slick-slide {
        outline: none;
    }

    img {
        display: inline;
    }

    .slick-dots {
        @extend %listreset;
        @include xcenter;
        bottom: 15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            margin: 0 3px;
            line-height: 0;
        }

        button {
            padding: 0;
            border: 0;
            background-color: $cr-info;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            text-indent: -9999px;
            overflow: hidden;
        }
    }
}

.review__cta {
    color: $cr-gray;
    font-weight: 700;
    font-size: 20px;
    @include media('>=desktop') {
        font-size: 24px;
    }
}