.solutions {
    padding-top: 39px;
    padding-bottom: 35px;
    color: $cr-heading;
    @include media('<desktop') {
        overflow: hidden;
    }
    @include media('>=desktop') {
        padding-top: 47px;
        padding-bottom: 84px;
    }
    .countdown-holder {
        @include media('<desktop') {
            min-height: 30px;
        }
    }
    .counter__ttl {
        margin-bottom: 27px;
        margin-left: -30px;
        @include media('>=desktop') {
            margin-bottom: 50px;
        }
    }
}

.solutions__ttl {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    @include media('>=desktop') {
        margin-bottom: 24px;
    }
}

.solutions__ttl-icon {
    margin-left: 4px;
    @include media('<desktop') {
        max-width: 47px;
    }
}

.solutions__descr {
    font-size: 18px;
    font-weight: 700;
    color: $cr-heading;
    @include media('<desktop') {
        max-width: 80vw;
        margin: 0 auto 54px;
    }
    @include media('>=desktop') {
        font-size: 22px;
        margin-bottom: 78px;
    }
}

.solutions__video {
    @include media('<desktop') {
        margin-bottom: 76px;
    }
}

.solutions__txt {
    @include media('<tablet') {
        font-size: 15px;
        line-height: 1.2;
    }
    p {
        @include media('<tablet') {
            margin-bottom: 18px;
        }
    }
}

.contacts__addresses {
    line-height: 1.333;
}

.solutions-complex {
    ol {
        @extend %listreset;
        counter-reset: my-counter;
        li {
            &:before {
                counter-increment: my-counter;
                content: counter(my-counter) ' - ';
                margin-right: 4px;
            }
        }
    }
}

.solutions-complex__cell {
    @include media('<desktop') {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 22px;
        max-width: 62vw;
        font-size: 16px;
    }
    @include media('>=desktop') {
        margin-top: -8px;
        display: flex;
        flex-direction: column;
    }
}

.solutions-complex__img {
    @include media('<desktop') {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.solutions-complex__txt {
    position: relative;
    padding-top: 33px;
    @include media('>=desktop') {
        padding-top: 10px;
    }
}

.solutions-complex__ttl {
    @include xcenter;
    top: -19px;
    color: rgba($cr-brand-secondary, .1);
    font-size: 60px;
    line-height: 1;
    font-weight: 900;
    text-transform: uppercase;
    @include media('>=desktop') {
        font-size: 100px;
        top: -49px;
        margin-left: -55px;
    }
    &--team {
        @include media('>=desktop') {
            margin-left: -17px;
        }
    }
}


.solution-pyramid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 43px;
    margin-bottom: 130px;
    @include media('>=largescreen') {
        padding-top: 29px;
        margin-left: 40px;
        margin-bottom: 38px;
    }
}

.solution-pyramid__row {
    position: relative;
    filter: drop-shadow(0 10px 20px $cr-brand-secondary);
    @include media('>=tablet') {
        margin-bottom: 7px;
    }
    @include media('>=desktop') {
        margin-bottom: 14px;
    }
    &:nth-child(1) {
        .solution-pyramid__row-inner {
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            @include media('<desktop') {
                width: 232px;
                margin-left: 20px;
            }
            @include media('<tablet') {
                width: 132px;
                margin-left: 10px;
            }
        }
        .solution-pyramid__txt {
            margin-top: 20px;
            @include media('>=desktop') {
                margin-top: 37px;
            }
        }
    }
    &:nth-child(2) {
        .solution-pyramid__row-inner {
            clip-path: polygon(25% 0, 78.5% 0, 100% 100%, 0 100%);
            left: -2%;
            @include media('<desktop') {
                margin-left: 12px;
                width: 440px;
            }
            @include media('<tablet') {
                width: 260px;
                margin-left: 6px;
                clip-path: polygon(26% 0,77% 0,100% 100%,0 100%);
            }
        }
    }
    &:nth-child(3) {
        .solution-pyramid__row-inner {
            clip-path: polygon(18.3% 0, 84.8% 0, 100% 100%, 0 100%);
            left: -3.4%;
            @include media('<desktop') {
                margin-left: 3px;
                width: 660px;
            }
            @include media('<tablet') {
                width: 400px;
                margin-left: 0;
                clip-path: polygon(19% 0,83.5% 0,100% 100%,0 100%);
            }
        }
    }
    &:nth-child(4) {
        .solution-pyramid__row-inner {
            clip-path: polygon(12.5% 0, 88.5% 0, 100% 100%, 0 100%);
            left: -2.9%;
            position: relative;
            @include media('<desktop') {
                width: 868px;
            }
            @include media('<tablet') {
                width: 526px;
                margin-left: -3px;
            }
        }

    }
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        filter: none !important;
    }
}

.solution-pyramid__row-inner {
    position: relative;
    @include media('<desktop') {
        left: 50% !important;
        transform: translateX(-50%) !important;
    }
}

.solution-pyramid__txt {
    @include xycenter;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    width: 74%;
    @include media('>=desktop') {
        width: 70%;
        font-size: 16px;
        margin-top: 9px;
    }
}
