.mt-40 {
    margin-top: -40px;
}

.pt-lg-77 {
    @include media('>=desktop') {
        padding-top: 113px !important;
    }
}

.js-tab-hidden {
    width: 100%;
    display: block !important;
    left: -9999px !important;
    position: absolute !important;
    top: -9999px !important;
}
