// Fonts
$font-primary:              Roboto, Arial, sans-serif;

// Body
$base-font-size:            18px !default;
$line-height-base:          1.167 !default; //21px

// link colors
$link-cr-font:              $cr-brand-secondary;

// headings
$heading-weight:            900;
$heading-cr:                $cr-heading;
$heading-letter-spacing:    0;

// Additional
$accent-color:              $cr-brand-secondary;
